@font-face {
    font-family: 'Yeongwol';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2507-2@1.0/YeongwolTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f6fa;
    font-family: 'Yeongwol', sans-serif;
    text-align: center;
}

.box {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;

    background: linear-gradient(
        to bottom,
        #b7eaff 0%,
        #ffdce8 100%
    );

    border-radius: 20px;

    border: 1px solid rgba(255, 255, 255, 0.5);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #3677eb;
    font-size: 30px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    line-height: 2;
    color: #343a40;
}

.author {
    margin-top: 30px;
    color: #888;
    font-style: italic;
    font-size: 18px;
}
